ol, ul {
  list-style: none;
}

body {
  box-sizing: border-box;
  color:#373737;
  background: lightgray;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 40px;
}
.center {
  text-align: center;
}

nav > ul {
  display: inline-flex;
}
li {
  margin-right: 2px;
}

a, a:visited, a:hover, a:active {
  color: midnightblue;
}